@model BENT1C.Grupo5.Entidades.Empresa

@{
    ViewData["Title"] = "Detalles";
}

<h1>Detalles</h1>

<div>
    <h4>Empresa</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rubro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rubro)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Direccion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Direccion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TelefonoContacto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TelefonoContacto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmailContacto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmailContacto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Logo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Logo.Nombre)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Editar</a>
    <a asp-action="Index" class="btn btn-outline-primary">Volver</a>
</div>
