@model IEnumerable<BENT1C.Grupo5.Entidades.Empresa>

@{
    ViewData["Title"] = "Index";
}

<h1>Empresas</h1>

<p>
    <a asp-action="Create" class="btn btn-outline-info">Agregar Empresa</a>
</p>
<table class="table rounded table-hover" style="background-color:#ebf2fa">
    <thead class="table-borderless th">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rubro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Direccion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TelefonoContacto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmailContacto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Logo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Rubro)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Direccion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TelefonoContacto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EmailContacto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Logo.Nombre)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-outline-primary">Editar</a>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-outline-primary">Detalles</a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-outline-danger">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
