@model BENT1C.Grupo5.Entidades.Gasto

@{
    ViewData["Title"] = "Detalles";
}

<h1>Detalles</h1>

<div>
    <h4>Gasto</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Monto)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Monto)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Fecha)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CentroDeCosto)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CentroDeCosto.Nombre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Empleado)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Empleado.Apellido)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Editar</a>
    <a asp-action="Index" asp-route-empleadoId="@User.FindFirstValue(ClaimTypes.NameIdentifier)" class="btn btn-outline-primary">Volver</a>
</div>
