@model BENT1C.Grupo5.Entidades.Telefono

@{
    ViewData["Title"] = "Borrar";
}

<h1>Delete</h1>

<h3>¡Está seguro que desea borrar esto?</h3>
<div>
    <h4>Teléfono</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Numero)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Numero)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoTelefono)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoTelefono.Nombre)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Empleado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Empleado.Apellido)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" />
        <a asp-action="Index" class="btn btn-outline-primary">Volver</a>
    </form>
</div>
